* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html {
    font-family: "Source Sans Pro", Helvetica, sans-serif;
    font-size: 16px;
    background-color: #FFFFFF;
}

h1 {
    font-size: 2.5rem;
    font-family: "Parisienne", 'Times New Roman', Times, serif;
    margin: 0 auto;
    display: inline-block;
    background-image: linear-gradient(130deg, #7e6d94 0%, #d16985 74%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

h1 > img {
    width: 40px;
    height: auto;
    display: inline;
    margin: 0 20px;
}

h2 {
    font-size: 2.5rem;
    width: 100%;
    text-align: center;
    margin: 30px auto;
    font-family: "Source Sans Pro", Helvetica, sans-serif;
    text-transform: uppercase;
    color:#494949;
}

h3 {
    font-size: 1.6rem;
    text-transform: uppercase;
    color:#000000;
    font-weight: lighter;
}

img {
    width: 100%;
    height: auto;
    overflow: hidden;
}

/* ----- Header ----- */
nav {
    width: 100%;
    height: 80px;
    background-color: #FFFFFF;
    text-align: center;
    padding: 15px;
}

nav ul {
    margin: 0 30px;
    position: relative;
    float: right;
    display: inline;
}

nav li {
    display: inline-block;
    list-style-type: none;
    padding: 10px 10px;
    font-size: 1rem;
    text-transform: uppercase;
}

nav a {
    text-decoration: none;
    color: #000000;
}

nav a:hover {
    border-style: solid;
    border-width: 0px 0px 2px 0px;
    border-color: #8a796b;
    color: #8a796b;
}

strong {
    font-weight: bold;
    font-size: 2.6rem;
    background-image: linear-gradient(130deg, #7e6d94 0%, #d16985 74%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: "Parisienne", 'Times New Roman', Times, serif;
}

.banner img {
    width: 100%;
    height: auto;
}

.banner p {
    display: block;
    position: absolute;
    top: 50%;
    right: 0;
    width: 40%;
    font-size: 2rem;
    padding: 20px;
    background-color: #FFFFFF;
}

.dots {
    text-align: center;
}

.dot {
    box-sizing: content-box;
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 8px;
    background-color: #fff;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
    position: relative;
    top: -30px;
}

.dot--active, .dot:hover {
    background-color: rgb(226, 226, 226);
    box-shadow: 0px 0px 2px 2px #ffffff;
}

@media only screen and (max-width: 1145px) {
    h1 {
        font-size: 3.5rem;
    }

    .banner p {
        top: 25%;
    }
}

@media only screen and (max-width: 810px) {
    nav {
        flex-direction: column;
    }

    .banner p {
        position: relative;
        width: 100%;
        text-align: center;
    }
}

@media only screen and (max-width: 410px) {
    nav ul {
        margin: 0;
    }
    nav li {
        font-size: 1.2rem;
    }
}

/* ----- Main ----- */
section {
    padding: 60px 40px;
    margin: 30px auto;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

/* Products */
.product {
    background-color: #ffffff;
    min-width: 250px;
    max-width: 30%;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-items: center;
}

.product:hover {
    filter: opacity(80%)
}

.product img {
    width: 100%;
    height: auto;
    object-fit: cover;
    margin: 20px auto 10px auto;
}

.product h3 {
    padding: 10px;
    margin-bottom: 30px;
    text-align: center;
}

@media only screen and (max-width: 400px) {
    .product {
        min-width: 80%;
    }
}

@media only screen and (min-width: 1900px) {
    .product {
        max-width: 640px;
    }
}


/* Team */
.team {
    background-color: #f3d9e5;

}

.person {
    background-color: #f3d9e5;
    margin: 10px;
    flex: 1 1 0;
    min-width: 220px;
    max-width: 25%;
    text-align: center;
}

.person img {
    width: 100%;
    height: auto;
    border-radius: 50%;
    object-fit: cover;
}

.person h3, .person p {
    display: block;
    text-align: center;
}

/* Contact */
.contact {
    flex-direction: column;
    align-items: center;
    text-align: center;
}

h2 > img {
    width: 50px;
    height: auto;
    display: inline;
    margin: 0 10px;
}

.socialMedia {
    display: flex;
    flex-direction: row;
}

.contact h2 {
    font-family: "Parisienne", 'Times New Roman', Times, serif;
    background-image: linear-gradient(130deg, #7e6d94 0%, #d16985 74%);
    text-transform: none;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.contact a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #7e6d94;
    font-size: 1.2rem;
}

.contact a:hover {
    color: #d16985;
}

/* ----- Footer ----- */
footer {
    background-color: #0F0F0F;
    color: #808080;
    text-align: center;
    padding: 10px;
    letter-spacing: 0.2rem;
}
